// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
/* background-color: #C7CCD5;*/
  min-height: 100vh;
  max-width: 40rem;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
	color: #3A4A6A;
}

header {
 /* background-color: #3A4A6A;*/
	background-color: #eef0f2;
  padding: 1rem 1.5rem;
}

header h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-left: 0.5rem;
}

header a {
  color: #3A4A6A;
  text-decoration: none;
}

section {
	padding: 1.5rem 1rem 1rem 1rem;
}

section h1 {
	margin-bottom: 1rem;
}

hr {
	border: none;
	border-top: solid #1B1B3A 2px;
	margin: 1rem;
}

footer {
	font-size: 0.8rem;
	text-align: center;
	color: hsl(240, 36%, 17%);
}

input {
	border: 1px solid #999;
	padding: 0.45rem/
	font-size: 1rem;
	color: #3A4A6A;
}

input[type=submit] {
	padding: 0.5rem 3rem;
	border-radius: 0;
	border-width: 0;
	background-color: #FF9AB0;
	color: #3A4A6A;
	font-weight: bold;
	min-width: 12rem;
	margin: 1rem auto;
	line-height: 34px;
}

input[type="text"], textarea {
	background-color : #e8eaee;
	line-height: 34px;
	color: #3A4A6A;
}

.saskygray{
	color: #C7CCD5;
}

.saskyred{
	color: #FF9AB0;
}

.saskyblue{
	color: #3A4A6A;
}


.button:hover {
  background-color: #3A4A6A;
  color: #FF9AB0;
}

.hakukentta{
	background-image: url(https://neutroni.hayo.fi/~mniska/hakuvahti/img/search.svg);
	background-position: 14px;
	background-repeat: no-repeat;
	background-size: 1.4375rem auto;
	 max-width: none;
	padding-left: calc(38px + 1.4375rem);
	border-color: #3a4a6a;
}

.spostikentta{
	background-image: url(https://neutroni.hayo.fi/~mniska/hakuvahti/img/email.svg);
	background-position: 14px;
	background-repeat: no-repeat;
	background-size: 1.4375rem auto;
	max-width: none;
	padding-left: calc(38px + 1.4375rem);
	border-color: #3a4a6a;
}

.otsikko{
color: #3A4A6A;
text-decoration: none;
text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}