/***VARIABLES***/	

:root {
	--primary-darkest: #171e2a;
    --primary-darker: #29344a;
    --primary: #3A4A6A;
    --secondary: #FF9AB0;
    --neutral-darkest: #000000;
    --neutral-darker: #202122;
    --neutral-dark: #505255;
    --neutral: #9fa3aa;
    --neutral-light: #c7ccd5;
    --neutral-lighter: #eef0f2;
    --neutral-lightest: #ffffff;
    --input-bg-light: #f5f5f5;
    --input-padding: 8px 10px;
    --input-min-height: 58px;
	--font-open-sans: "Open Sans", Arial, Helvetica, sans-serif;
  	--font-poppins: "Poppins", Arial, Helvetica, sans-serif;
	}
	
/***GENERAL***/	

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	}

html {
	font-size: 62.5%;
}

main {
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-poppins);
	color: var(--primary);
}

.link {
	
}

/***HEADER***/

.title {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
}

.title_link {
	all: unset;
	cursor: pointer;
}

.sasky_logo_header {
	max-width: 12rem;
}

/***SECTION***/	



/***FOOTER***/	


		
/*
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  max-width: 40rem;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
	color: #3A4A6A;
}

header {

	background-color: #eef0f2;
  padding: 1rem 1.5rem;
}

header h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-left: 0.5rem;
}

header a {
  color: #3A4A6A;

}

section {
	padding: 1.5rem 1rem 1rem 1rem;
}

section h1 {
	margin-bottom: 1rem;
}

hr {
	border: none;
	border-top: solid #1B1B3A 2px;
	margin: 1rem;
}

input {
	border: 1px solid #999;
	padding: 0.45rem;
	font-size: 1rem;
	color: #3A4A6A;
}

input[type=submit] {
	padding: 0.5rem 3rem;
	border-radius: 0;
	border-width: 0;
	background-color: #FF9AB0;
	color: #3A4A6A;
	font-weight: bold;
	min-width: 12rem;
	margin: 1rem auto;
	line-height: 34px;
}

input[type="text"], textarea {
	background-color : #e8eaee;
	line-height: 34px;
	color: #3A4A6A;
}

.saskygray{
	color: #C7CCD5;
}

.saskyred{
	color: #FF9AB0;
}

.saskyblue{
	color: #3A4A6A;
}


.button:hover {
  background-color: #3A4A6A;
  color: #FF9AB0;
}

.hakukentta{
	background-image: url(https://neutroni.hayo.fi/~mniska/hakuvahti/img/search.svg);
	background-position: 14px;
	background-repeat: no-repeat;
	background-size: 1.4375rem auto;
	 max-width: none;
	padding-left: calc(38px + 1.4375rem);
	border-color: #3a4a6a;
}

.spostikentta{
	background-image: url(https://neutroni.hayo.fi/~mniska/hakuvahti/img/email.svg);
	background-position: 14px;
	background-repeat: no-repeat;
	background-size: 1.4375rem auto;
	max-width: none;
	padding-left: calc(38px + 1.4375rem);
	border-color: #3a4a6a;
}

.otsikko{
color: #3A4A6A;
text-decoration: none;
text-align: center;
}

.footer {
	padding: 1.5rem 1rem 1rem 1rem;
	position: fixed;
	bottom: 0;
	width: 640px;
	height: auto;
	text-align: center;
	display: block;
	--pwd--link--color: #fff;
	background-color: var(--pwd--color);
	color: #fff;
	container: pwdt-footer / inline-size;
	font-size: 1rem;
}

h1 a:link{
    color: #3a4a6a;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
:root {
    --pwd--color: #141414;
}

.footer__social-links-link {
    text-decoration: none;
}

.footer__social-links-link, .footer__social-links-link:after {
    border-radius: 50%;
}
.footer__social-links {
    --pwd--width--flex-gap--column: 8px;
    --pwd--width--flex-gap--row: 8px;
}
.footer__social-links-link:after {
    border: 2px solid;
    bottom: -4px;
    content: "";
    left: -4px;
    opacity: 0;
    position: absolute;
    right: -4px;
    top: -4px;
}
.footer__social-links-link, .footer__social-links-link:after {
    border-radius: 50%;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.footer__bottom {
	padding-bottom: 26px;
	padding-top: 26px;
	display: table-cell;
}

.linkki1{
	float: left;
	width: 33.33%;
	padding: 10px;
}
.linkki2{
	float: left;
	width: 33.33%;
	padding: 10px;
}
.linkki3{
	float: left;
	width: 33.33%;
	padding: 10px;
}

ul {
  list-style-type: none;
}

.alin{
	border-top: 1px solid;
	justify-content: space-between;
	display: table;
	width: 100%;
	table-layout: fixed; 
	border-spacing: 10px; 
}
*/